*/CMakeCache.txt
CMakeCache.txt
*/CMakeFiles
CMakeFiles
*/cmake_install.cmake
cmake_install.cmake
build
*/Makefile
Makefile
axis/_toglmodule.so
axis/linuxcnc.so
axis/minigl.so
axis/scripts/axis
axis/scripts/axis-remote
axis/scripts/debuglevel
axis/scripts/hal_manualtoolchange
axis/scripts/image-to-gcode
axis/scripts/lintini
axis/scripts/linuxcnctop
axis/scripts/mdi
axis/scripts/teach-in
axis/scripts/tracking-test
gmoccapy/gmoccapy
gremlin/gremlin-run
gscreen/gscreen
halui
keystick
libshcom.a
linuxcnc.so
linuxcnclcd
linuxcncrsh
linuxcncweb
pncconf/pncconf
schedrmt
stepconf/stepconf
touchy/touchy
xlinuxcnc

